<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://work.opinno.com/static/images/nobody_profile_image.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>In my spare time I like to play the guitar which I've been learning for two years and try to take on the hardest songs I can find from finger picking 200 strings per minute to playing slide guitar, so guitar is most definitely my go to at home. When I'm not playing the guitar I'm usually playing with my dogs or riding my horses, I have four English Cream Golden Retrievers one of which we recently bought and she's a puppy.</p>

    <p>Just like most other teenagers I play video games but I don't have much of an intrest in watching T.V although there are some programs I do watch. Currently I go to Corner Canyon High School (CCHS) and I'm doing AP biology prework for my freshman year. Hoping high school will be fun and not tedious with hours of homework that will bore me.</p>
  </div>
</div>
