<h1>About Me</h1>

<hr>

<p>In my spare time I like to play the guitar which I've been learning for two years and try to take on the hardest songs I can find from finger picking 200 strings per minute to playing slide guitar, so guitar is most definitely my go to at home. When I'm not playing the guitar I'm usually playing with my animals I have four English Cream Golden Retrievers one of them are the puppy of the two others and we recently bought a puppy.</p>

<p>Just like every other teenager I play video games but I don't have much of an intrest in watching T.V although there are some programs I do watch. Currently I go to Corner Canyon High School (CCHS) and I'm doing AP biology prework for my freshman year. Hoping high school will be fun and not tedious with hours of homework that will bore me.</p>
