<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">This is my Code To Success website that I made.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>